# Question1

In [7]:
from ps2 import*
b()
b()
b()
a
#the value of a is printed when last expression is executed,initially b() executes.

6

# Question 2

In [17]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError:
        print("file", file_name, "not found")
file_length('ps2.py')
file_length('idterm.py')

133
file idterm.py not found

# Question 3

In [14]:
class Marsupial:
    def __init__(self):
        'instantiates an empty list'
        self.q = []
    def put_in_pouch (self, item):
        return self.q.append(item)
    def pouch_contents (self):
        return self.q
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firestuck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firestuck', 'kitten']

In [15]:
class Kangaroo(Marsupial):
    def __init__(self, xcoord=0, ycoord=0):
        Marsupial.__init__(self)
        self.x = xcoord
        self.y = ycoord
    def jump(self,dx, dy):
        self.x += dx
        self.y += dy
    def __str__(self):
        return 'i am Kangaroo located at coordinates ({},{})'.format(self.x, self.y)
k = Kangaroo(0,0)
print(k)

i am Kangaroo located at coordinates (0,0)

In [12]:
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [13]:
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)

i am Kangaroo located at coordinates (3,0)

# Question 4

In [1]:
def collatz(num):
    if(num):
        print(num)
        while(num!=1):
            if num % 2==0:
                print(num // 2)
                num= num // 2
                
            elif num % 2==1:
                x = 3 * num + 1
                print(x)
                num = x
                
    else:
        print("Enter a positive integer number")
        
collatz(1)

1

In [2]:
collatz(10)

10
5
16
8
4
2
1

# question 5

In [14]:
def binary(x):
    if x >=1:
        if x//2 !=0:
            binary(x// 2)
        print(x % 2 , end = '')
    elif x==0:
        print(0)
    else:
        print("enter positive integer")
binary(0)

0

In [11]:
binary(1)

1

In [12]:
binary(3)

11

In [13]:
binary(9)

1001

# question 6

In [37]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    check=0
    s=0
    def handle_starttag(self,tag,attrs):
        if tag in ['h1','h2','h3']:
            self.check = 1
    def handle_data(self,data):
        if (self.check == 1):
            print(data.rjust(len(data) + self.s), end = '\n')
        def handle_endtag(self,tag):
            if tag in ['h1','h2','h3']:
                self.check = 0
                self.s +=1
                
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission


Principles

# question 7

In [11]:
pip install requests

Requirement already satisfied: requests in c:\users\ginnam gowripriya\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ginnam gowripriya\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\ginnam gowripriya\anaconda3\lib\site-packages (from requests) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ginnam gowripriya\anaconda3\lib\site-packages (from requests) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\ginnam gowripriya\anaconda3\lib\site-packages (from requests) (2.0.4)
Note: you may need to restart the kernel to use updated packages.

In [14]:
from urllib.parse import urljoin
from html.parser import HTMLParser
def webdir(x):
    'collects hyperlink URLs into a list'

    def __init__(self, url):
        'initializes parser, the url, and a list'
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    
    def handle_starttag(self, tag, attrs):
        'collects hyperlink URLs in their absolute format'
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    # construct absolute URL
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': # collect HTTP URLs
                        self.links.append(absolute)
                        
    def getLinks(self):
        'returns hyperlinks URLs in their absolute format'
        return self.links

In [ ]:
url = 'http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
resource = urlopen(url)
content = resource.read().decode()
collector = Collector(url)
collector.feed(content)
collector.getLinks()

# question 8

In [38]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.4.0-py3-none-any.whl (19 kB)
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
Requirement already satisfied: six in c:\users\ginnam gowripriya\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython>=1.0 in c:\users\ginnam gowripriya\anaconda3\lib\site-packages (from ipython-sql) (7.29.0)
Collecting sqlparse
  Downloading sqlparse-0.4.2-py3-none-any.whl (42 kB)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\ginnam gowripriya\anaconda3\lib\site-packages (from ipython-sql) (1.4.22)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\ginnam gowripriya\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\ginnam gowripriya\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: pygments in c:\users\ginnam gowripriya\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: jedi>=0.16 in c:\users\ginnam gowripriya\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\ginnam gowripriya\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (58.0.4)
Requirement already satisfied: backcall in c:\users\ginnam gowripriya\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=4.2 in c:\users\ginnam gowripriya\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: colorama in c:\users\ginnam gowripriya\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: matplotlib-inline in c:\users\ginnam gowripriya\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: pickleshare in c:\users\ginnam gowripriya\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\ginnam gowripriya\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\ginnam gowripriya\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: wcwidth in c:\users\ginnam gowripriya\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\ginnam gowripriya\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py): started
  Building wheel for prettytable (setup.py): finished with status 'done'
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13714 sha256=f9171a7a79a203e67e856f418e311c2a4f8ca8eeb3a3e7f0fb03e244dc1e411b
  Stored in directory: c:\users\ginnam gowripriya\appdata\local\pip\cache\wheels\75\f7\28\77a076f1fa8cbeda61aca712815d04d7a32435f04a26a2dd7b
Successfully built prettytable
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.4.0 prettytable-0.7.2 sqlparse-0.4.2

In [1]:
import sqlite3
con = sqlite3.connect('cInfo.db')
cur = con.cursor()
cur.execute("CREATE TABLE  IF NOT EXISTS cityInfo (city text,country text, season text,temp double, rainfall double)")
cur.execute("INSERT INTO cityInfo VALUES('Mumbai', 'India', 'Winter', 24.8, 5.9),('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)")
cur.execute("INSERT INTO cityInfo VALUES('London','United Kingdom','Winter','4.2','207.7'),('London','United Kingdom','Spring','8.3','169.6'),('London','United Kingdom','Summer','15.7','157.0'),('London','United Kingdom','Fall','10.4','218.5')")
cur.execute("INSERT INTO cityInfo VALUES('Cairo', 'Egypt', 'Winter', '13.6', '16.5'),('Cairo', 'Egypt', 'Spring', '20.7', '6.5'),('Cairo', 'Egypt','Summer', '27.7', '0.1'),('Cairo', 'Egypt', 'Fall', '22.2', '4.5' )")
cur.execute('SELECT * FROM cityInfo')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [2]:
#8.a All the temperature data.
cur.execute('SELECT DISTINCT(temp) FROM cityInfo')
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [3]:
#8.b) All the cities, but without repetition
cur.execute('SELECT DISTINCT(city) FROM cityInfo')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [4]:
#8.c) All the records for India.
cur.execute('SELECT * FROM cityInfo where country= "India"')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [5]:
#d) All the Fall records.
cur.execute('SELECT * FROM cityInfo where season = "Fall"')
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [6]:
#8.e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters
cur.execute('SELECT city, country, season, AVG(rainfall) FROM cityInfo GROUP BY city, country, season having AVG(rainfall)>200 and AVG(rainfall)<400')
cur.fetchall()

[('London', 'United Kingdom', 'Fall', 218.5),
 ('London', 'United Kingdom', 'Winter', 207.7),
 ('Mumbai', 'India', 'Fall', 346.0)]

In [8]:
#8.f)The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order
cur.execute('SELECT city, country, season, AVG(temp) FROM cityInfo WHERE temp>20 GROUP BY city, country having AVG(temp)>20')
cur.fetchall()

[('Cairo', 'Egypt', 'Spring', 23.53333333333333),
 ('Mumbai', 'India', 'Winter', 27.174999999999997)]

In [11]:
#8.g) The total annual rainfall for Cairo
cur.execute('SELECT SUM(rainfall) FROM cityInfo WHERE city = "Cairo"')
cur.fetchall()

[(27.6,)]

In [12]:
#8.h) The total rainfall for each season.
cur.execute('SELECT season, SUM(rainfall) FROM cityInfo GROUP BY season')
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

# question 9

In [13]:
 words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
    
#9.a 
a = [x.upper() for x in words]
print(a)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [14]:
#9.b
b = [x.lower() for x in words]
print(b)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [21]:
#9.c  (the list of lengths of words in list words).
c = [len(x) for x in words]
print(c)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [24]:
#9.dthe list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and thength of the word.)

x =[]
for word in words:
    final = []
    final.append(word.upper())
    final.append(word.lower())
    final.append(len(word))
    x.append(final)
    
print(x)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [25]:
#9.e (the list of words in list words containing 4 or morecharacters.)
d = [word for word in words if len(word)>=4]
print(d)

['quick', 'brown', 'jumps', 'over', 'lazy']